<!DOCTYPE html>
<html lang="en">
<head>

    </head>
<body>
<form method = "POST">
    {% csrf_token%}
    <table>
    {{form.as_table}}
    </table>
    <input type = "submit" value = "save"/>
</form>
</body>
</html>