<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<!--<h1>-->
<!--    -->
<!--    {{ name }}</h1>-->
<!--<input type="button" value="Teach" />-->

<!--Quite working-->
<!--<div>-->
<!--     {%  for record in records %}-->
<!--           <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-tulips-blooming-in-field-royalty-free-image-1584131603.jpg" width="400px", height="400px" target="_blank" alt="Teacher 1"/>-->
<!--&lt;!&ndash;    {% if record.id > 5:&ndash;&gt;-->
<!--&lt;!&ndash;        record.id = 1 %}&ndash;&gt;-->
<!--&lt;!&ndash;    "url('img/slide" + num + ".jpg')" %}&ndash;&gt;-->
<!--&lt;!&ndash;    <img src="http://localhost/Detail/1.JPG" alt="avatar"/>&ndash;&gt;-->
<!--        {{ record.first_name }}{{ record.last_name }}-->
<!--        <input type="button" value="Teach"/>-->
<!--        {% endfor %}-->
<!--</div>-->

<div>
    {% for post in item_list %}
    <h2> {{ post.first_name  post.last_name }} </h2>
    <h4> {{post.email}}</h4>
    <h4> {{post.phone}}</h4>
    <h4> {{post.room}}</h4>
    <h4> {{ post.subjects}}</h4>
    <p>--------------------</p>
    {% endfor %}
</div>
</body>
</html>