<!DOCTYPE html>
<html>
   <head>
      <title>Login</title>


   </head>
   <style>


      table{
      border-style: solid;
      position: absolute;
      top: 40%;
      left : 40%;
      padding:10px;
      }
   </style>
   <body>

      <form method="post" action="">
<!--         {% if label == 'Login Failed' %}-->
<!--            <p> {{ label }} </p>-->
<!--         {% endif %}-->
         {% csrf_token%}
         <table>
            <tr bgcolor="grey">
               <th colspan="3" >Enter Credentials</th>
            </tr>
            <tr height="20"></tr>
            <tr>
               <td>FirstName</td>
               <td>:</td>
               <td>
                  <input type="text" name="username"/>
               </td>
            </tr>
            <tr>
               <td>Email</td>
               <td>:</td>
               <td>
                  <input type="password" name="Email"/>
               </td>
            </tr>
            <tr height="10"></tr>
            <tr>
               <td></td>
               <td></td>
               <td align="center"><input type="submit" value="Submit"></td>
            </tr>
         </table>
      </form>
   </body>
</html>
